{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craftagram plugin for Craft CMS 3.x
 *
 * craftagram Settings.twig
 *
 * @author    Scaramanga Agency
 * @copyright Copyright (c) 2020 Scaramanga Agency
 * @link      https://scaramanga.agency
 * @package   Craftagram
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = 'craftagram' %}

{% css %}
    .insta-preview-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -4px 8px;
    }
    .insta-preview {
        width: 150px;
        padding: 4px;
        margin: 4px;
        border: 1px solid #efefef;
    }
{% endcss %}

{% block header %}
    {{ block('pageTitle') }}
    {{ block('languageMenu') }}
{% endblock %}

{% block languageMenu %}
    <div id="sites-btn" class="btn menubtn" data-icon="world">{{ craft.app.sites.getSiteById(siteId).name }}</div>

    <div class="menu">
        {% set siteIds = craft.app.sites.allSiteIds() %}
        <ul class="padded">
            {% for id in siteIds %}
                {% set site = craft.app.sites.getSiteById(id) %}
                <li>
                    <a {% if id == siteId %}class="sel"{% else %}href="{{ cpUrl() }}/craftagram/settings/{{ site.id }}"{% endif %}>
                        {{ site.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% set content %}
    <div class="hidden" data-js="auth-button">
        <a data-js="auth-app" class="btn submit">Authorise Craft</a>
        <hr />
    </div>

    <form method="post">

        {{ csrfInput() }}
        <input type="hidden" name="action" value="craftagram/settings/save-plugin-settings">

        {% namespace "settings" %}
            {{ forms.autosuggestField({
                label: 'Instagram App ID',
                instructions: 'Enter your App ID here. This is the Instagram App ID and **not** the Facebook App ID. If you\'re unsure, check the README.',
                id: 'appId',
                name: 'appId',
                required: 'required',
                value: settings['appId'],
                suggestions: craft.cp.getEnvSuggestions(),
                suggestEnvVars: true,
                errors: settings.getErrors('appId')})
            }}

            {{ forms.autosuggestField({
                label: 'Instagram App Secret',
                instructions: 'Enter your App Secret here',
                id: 'appSecret',
                name: 'appSecret',
                required: 'required',
                value: settings['appSecret'],
                suggestions: craft.cp.getEnvSuggestions(),
                suggestEnvVars: true,
                errors: settings.getErrors('appSecret')})
            }}

            {{ forms.textField({
                label: 'Long Access Token',
                id: 'longAccessToken',
                name: 'longAccessToken',
                value: settings['longAccessToken'] })
            }}

            {{ forms.lightswitchField({
                label: 'Secure API endpoint',
                instructions: 'If you switch this on, you must pass a Basic Auth header to access the API endpoint. The Username and Password should be for an activated Craft user. ',
                id: 'secureApiEndpoint',
                name: 'secureApiEndpoint',
                value: settings['secureApiEndpoint'] })
            }}

            {{
                forms.hidden({
                    name: 'siteId',
                    value: siteId
                })
            }}
        {% endnamespace %}

        <input type="submit" class="submit btn" value="{{ 'Save'|t }}">
    </form>

    {% set craftagram = craft.craftagram.getInstagramFeed(2, siteId) %}
    {% if craftagram|length %}
        <hr />

        <h2>Preview</h2>

        <div data-js="insta-wrapper" class="insta-preview-wrapper">
            {% for item in craftagram.data %}
                <img src={{item.media_url}} class="insta-preview" />
            {% endfor %}
        </div>

        <a data-after="{{ craftagram.paging.cursors.after }}" data-js="load-more" class="btn">Load more</a>
    {% endif %}

{% endset %}

{% js %}
    $(document).ready(function() {
        
        $(document).on('blur keyup', '#settings-appId', function() { 
            if ($(this).val().length < 1) {
                $('[data-js="auth-app"]').attr('disabled', 'disabled').removeClass('submit').addClass('disabled');
            } else {
                $('[data-js="auth-app"]').removeAttr('disabled').addClass('submit').removeClass('disabled');
            }
        });

        $(document).on('click', '[data-js="auth-app"]:not(.disabled)', function() {
            var $appId = $('#settings-appId').val();
            window.location.href = '{{ siteUrl }}/actions/craftagram/default/handle-auth?site_id={{ settings["craftagramSiteId"] }}&client_id=' + $appId;
        });

        if ($('#settings-appId').val() != '') {
            $('[data-js="auth-button"]').toggleClass('hidden');
        }
    });

    {% if settings['longAccessToken'] != "" %}
        $("[data-js=load-more]").click(function(e) {
            e.preventDefault();
            $.get("{{ siteUrl }}/actions/craftagram/default/get-next-page?siteId={{ siteId }}&limit=2&url=" + $(this).data('after'), function(res) {
                data = $.parseJSON(res);

                $.each(data["data"], function() {
                    $("[data-js='insta-wrapper']").append("<img src="+$(this)[0]["media_url"]+" width=150 class='insta-preview' />");
                });

                $("[data-js=load-more]").data("after", data["paging"]["cursors"]["after"]);
            });
        });
    {% endif %}
{% endjs %}